<div layout="column">
    <ng-compodetail></ng-compodetail>
    <ng-compoadd></ng-compoadd>
    <md-content flex flex-offset="5" class="md-padding" layout="column" layout-align="center center">
        <div flex layout="row">
            <md-input-container>
                <label>Par nom</label>
                <md-icon>search</md-icon>
                <input ng-model="componentNameQuery" type="text">
            </md-input-container>
            <md-input-container>
                <md-select ng-model="componentTypeQuery" placeholder="Par type">
                    <md-option value=""><em>Tous</em></md-option>
                    <md-option ng-repeat="type in componentType" value="{{type.Type}}">
                        {{type.TypeLabel}}
                    </md-option>
                </md-select>
            </md-input-container>
            <div ng-if="generalState">
                <md-button class="md-fab md-primary" ng-click="showAddComp($event)">
                    <md-icon>add</md-icon>
                </md-button>
            </div>
        </div>
    </md-content>
    <md-content flex flex-offset="5" class="md-padding" layout="row" layout-align="center start" layout-wrap>
        <div flex="20" ng-repeat="component in componentsList |
          filter: {Name_Component: componentNameQuery,
                   Libelle_Type_Component: componentTypeQuery} |
          orderBy : Libelle_Type_Component">
            <md-card class="admin_Lcommand">
                <md-card-header>
                    <md-card-header-text>
                        <span class="md-title">{{component.Name_Component}}</span>
                        <span class="md-subhead">{{component.Libelle_Type_Component}}</span>
                    </md-card-header-text>
                    <md-button ng-click="showDetailComp($event,$index)" class="md-fab md-mini md-primary hive_user_detail">
                        <md-icon>create</md-icon>
                    </md-button>
                </md-card-header>
            </md-card>
        </div>
    </md-content>
</div>
