<div layout="row" class="hive_footer">
  <div flex layout="column" layout-align="center center">
    <img class="hive_footer_logo" src="images/isen_logo.png" / />
  </div>
  <div flex layout="column" layout-align="center center" class="hive_footer_txt">
    <md-list>
      <md-list-item class="md-6-line">
        <div class="md-list-item-text">
          <h1>Nous contacter</h1>
          <h3><b>ISEN Brest</b></h3>
          <p class="md-subhead"><md-icon>phone</md-icon>  02.98.03.84.00</p>
          <p class="md-subhead"><md-icon>mail</md-icon>  jpgerval@isen-bretagne.fr</p>
          <p class="md-subhead"><md-icon>map</md-icon>  20 Rue Cuirassé Bretagne, 29200 Brest</p>
        </div>
      </md-list-item>
    </md-list>
  </div>
  <div flex layout="column" layout-align="center center">
    <img class="hive_footer_logo" src="images/HiveLogo4.png" / />
  </div>
</div>
