<div layout="column">
    <md-content flex flex-offset="5" class="md-padding" layout="row" layout-align="center start">
        <md-card flex="100" class="admin_Lcusto">
            <md-card-header>
                <md-button ng-href='#!/Clients' class="md-fab md-mini md-primary hive_user_detail">
                  <md-icon>arrow_back</md-icon>
                </md-button>
                <md-card-header-text layout-align="center center">
                    <span class="md-title">Prénom Nom</span>
                    <span class="md-subhead">Email - Utilisation de l'application</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
              <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Commandes">
                  <md-content class="md-padding">
                    <div flex="30" >
                        <md-card class="admin_Lcommand">
                            <md-card-header>
                                <md-card-header-text>
                                    <span class="md-title">N°: {{command.Id_Command}} / {{command.Mail_User}}</span>
                                    <span class="md-subhead">{{command.DatePay_Command}} / {{command.Amount}} €</span>
                                </md-card-header-text>
                            </md-card-header>
                        </md-card>
                    </div>
                  </md-content>
                </md-tab>
                <md-tab label="Machines virtuelles">
                  <md-content class="md-padding">
                    <div flex="30">
                        <md-card class="admin_Lcusto">
                            <md-card-header>
                                <md-card-header-text>
                                    <span class="md-title">{{user.firstName}} {{user.lastName}}</span>
                                    <span class="md-subhead">{{user.email}}</span>
                                </md-card-header-text>
                            </md-card-header>
                            <md-card-content>
                                <md-list>
                                    <md-list-item class="hive_users_list">
                                        <div flex="15">
                                            <md-icon>move_to_inbox</md-icon>
                                        </div>
                                        <div flex>
                                            <h6>Nombre de VM :</h6>
                                        </div>
                                        <div flex="15">
                                            <p>{{user.nbVM}}</p>
                                        </div>
                                    </md-list-item>
                                    <md-list-item class="hive_users_list">
                                        <div flex="15">
                                            <md-icon>shopping_cart</md-icon>
                                        </div>
                                        <div flex>
                                            <h6>Nombre de Commandes :</h6>
                                        </div>
                                        <div flex="15">
                                            <p>{{user.nbcommand}}</p>
                                        </div>
                                    </md-list-item>
                                    <md-list-item class="hive_users_list">
                                        <div flex="15">
                                            <md-icon>euro_symbol</md-icon>
                                        </div>
                                        <div flex>
                                            <h6>Montant des Commandes :</h6>
                                        </div>
                                        <div flex="15">
                                            <p>{{user.amountCommand}}</p>
                                        </div>
                                    </md-list-item>
                                    <md-list-item class="hive_users_list">
                                        <div flex="15">
                                            <md-icon>check_box</md-icon>
                                        </div>
                                        <div flex>
                                            <h6>Etat des factures :</h6>
                                        </div>
                                        <div flex="15">
                                            <p>{{user.factState ? statFact[1].text : statFact[0].text}}</p>
                                        </div>
                                    </md-list-item>
                                </md-list>
                            </md-card-content>
                        </md-card>
                    </div>
                  </md-content>
                </md-tab>
              </md-tabs>
            </md-card-content>
        </md-card>
    </md-content>
</div>
