<md-sidenav
    class="md-sidenav-left"
    md-component-id="left"
    md-is-locked-open="true"
    md-whiteframe="4">

  <md-toolbar class="md-theme-indigo">
    <h1 class="md-toolbar-tools">Sidenav Lefat</h1>
  </md-toolbar>
  <md-content layout-padding>
    <md-list>
      <md-list-item class="secondary-button-padding">
        <md-icon>email</md-icon>
        <span>Timothy Kopra</span>
      </md-list-item>
      <md-list-item>
        <md-button class="md-primary md-raised" ng-click="showTabDialog()">
          Connexion / Inscription
        </md-button>
      </md-list-item>
    </md-list>
  </md-content>

</md-sidenav>
