<md-sidenav
    class="md-sidenav-left"
    md-component-id="left"
    md-is-locked-open="true"
    md-whiteframe="2"
    layout="column"
    flex="100">
  <md-toolbar class="md-theme-indigo">
    <h1 class="md-toolbar-tools">{{user.firstName}} {{user.lastName}}</h1>
  </md-toolbar>
  <md-content layout-padding>
    <md-list>
      <md-list-item ng-repeat="navALink in navAdmin" ng-href="#" >
        <div class="inset">
          <md-icon>{{navALink.icon}}</md-icon>
        </div>
        <div class="inset">
          <p>{{navALink.text}}</p>
        </div>
      </md-list-item>
    </md-list>
  </md-content>

</md-sidenav>
