<md-sidenav
  ng-sidebar
  class="md-sidenav-left"
  md-component-id="left"
  md-is-locked-open="true"
  md-disable-scroll-target = "true"
  md-whiteframe="2"
  layout="column"
  layout-align="start stretch">
  <md-toolbar>
    <div class="md-toolbar-tools hive_sidebar_title" layout="column" layout-align="center start">
      <h2>{{user.firstName}} {{user.lastName}}</h2>
      <h3>{{user.email}}</h3>
    </div>
  </md-toolbar>
  <md-content layout-padding>
    <md-list>
      <md-list-item ng-repeat="navLink in navbarHive" ng-href={{navLink.link}} class="hive_list">
        <div class="inset">
          <md-icon>{{navLink.icon}}</md-icon>
        </div>
        <div class="inset">
          <p>{{navLink.text}}</p>
        </div>
      </md-list-item>
    </md-list>
  </md-content>
</md-sidenav>
