/* app css stylesheet */
.hive_error p{
  color: orange;
  text-align: center;
}
.admin_info h3 {
  text-align: center;
  margin: auto !important;
  font-size: 4em !important;
}
.admin_info h5 {
  text-align: center;
  margin: auto !important;
}
.admin_info md-icon {
    font-size: 4em;
    height   : 1em !important;
    width    : 4em !important;
}

.hive_navbar {
  position: fixed;
}

.hive_footer {
  bottom: 0;
  padding-bottom: 10px;
  background-image: url('images/footer_back.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.hive_content {
  padding-top: 80px !important;
}

img.hive_footer_logo {
    max-height: 12em;
}/*
.hive_footer_txt,
.hive_footer_txt md-icon.material-icons
{ color: #333333; }*/

.hive_footer h1,
.hive_footer h3,
.hive_footer p
{ text-align: center; }

.hive_application {
  background-image: url('images/appli00.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.page {
  /*
  background-image: url('images/hive_back1.png');
  background-image: url('images/hive_back2.png');
  background-image: url('images/hive_back2.jpg');
  */
  background-repeat: no-repeat;
  background-size: cover;
}
