<!DOCTYPE html>
<html lang="fr" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
</head>
<body ng-app="myApp" class="page">

  <ng-navbar></ng-navbar>
  <ng-logsign></ng-logsign>

  <div layout="row" class="hive_content">
    <div flex="20" ng-if="connexionOK">
      <ng-sidebar></ng-sidebar>
    </div>
    <div flex><div ng-view></div></div>
  </div>

  <div ng-if="!connexionOK">
    <ng-footer></ng-footer>
  </div>

  <!-- SCRIPTS -->
  <!-- AngularJs Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

  <script src="app.js"></script>
  <!-- ELEMENTS -->
  <script src="components/NavBar/NavBar.js"></script>
  <script src="components/DialogLogIn/DialogLogIn.js"></script>
  <!-- VIEWS -->

  <script src="views/admin/admin.js"></script>
  <script src="views/basket/basket.js"></script>
  <script src="views/home/home.js"></script>
  <script src="views/purchase/purchase.js"></script>
  <script src="views/articles/articles.js"></script>
  <script src="views/components/components.js"></script>
  <script src="views/customers/customers.js"></script>
  <script src="views/customerInfo/customerInfo.js"></script>
  <script src="views/commands/commands.js"></script>
  <!--script src="views/commands/commandDetail.js"></script-->

  <script src="components/Footer/Footer.js"></script>
  <script src="components/SideBar/SideBar.js"></script>



  <script src="views/components/compoAdd.js"></script>
  <script src="views/components/compoDetail.js"></script>
  <script src="views/articles/articleAdd.js"></script>
  <!--script src="views/articles/articleDetail.js"></script-->
</body>
</html>
