<!DOCTYPE html>
<html lang="fr" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
</head>
<body ng-app="myApp" class="page">

  <ng-navbar></ng-navbar>
    <!--
  <md-nav-bar md-selected-nav-item="currentNavItem">
    <md-nav-item md-nav-href="#!/Administration" name="Administration">Admin</md-nav-item>
    <md-nav-item md-nav-href="#!/Panier" name="Panier">Panier</md-nav-item>
    <md-nav-item md-nav-href="#!/Accueil" name="Accueil">Accueil</md-nav-item>
    <md-nav-item md-nav-href="#!/Achat" name="Achat">Achat</md-nav-item>
    <md-nav-item md-nav-href="#!/Articles" name="Articles">Articles</md-nav-item>
    <md-nav-item md-nav-href="#!/Clients" name="Clients">Clients</md-nav-item>
    <md-nav-item md-nav-href="#!/Information_Client" name="Information_Client">Client</md-nav-item>
    <md-nav-item md-nav-href="#!/Information_Article" name="Information_Article">Article</md-nav-item>
  </md-nav-bar>
-->
  <ng-logsign></ng-logsign>

  <div layout="row" class="hive_content" style="padding-top:00px">
    <div ng-if="connexionOK">
      <div><ng-sidebar></ng-sidebar></div>
    </div>
    <div flex><div ng-view></div></div>
  </div>

  <div ng-if="!connexionOK">
    <ng-footer></ng-footer>
  </div>

  <!-- SCRIPTS -->
  <!-- AngularJs Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

  <script src="app.js"></script>
  <!-- COMPONENTS -->
  <script src="components/NavBar/NavBar.js"></script>
  <script src="components/DialogLogIn/DialogLogIn.js"></script>
  <!-- VIEWS -->

  <script src="views/admin/admin.js"></script>
  <script src="views/basket/basket.js"></script>
  <script src="views/home/home.js"></script>
  <script src="views/purchase/purchase.js"></script>
  <script src="views/articles/articles.js"></script>
  <script src="views/customers/customers.js"></script>
  <script src="views/customerInfo/customerInfo.js"></script>
  <script src="views/articleManage/articleManage.js"></script>

  <script src="components/Footer/Footer.js"></script>
  <script src="components/SideBar/SideBar.js"></script>
</body>
</html>
