<div layout="row" layout-align="center center">
  <div>
    <h1>HIVE</h1>
    <h3>Site de vente en ligne de container Docker pour la réalisation de vos projets.</h3>
    <h3>Vous avez le choix entre des containers déjà configurés ou bien à personnaliser !</h3>
  </div>
</div>

<div layout="row" layout-align="center center" ng-cloak>
  <md-content class="md-no-momentum">
    <md-input-container class="md-block">
      <label>Identifiant</label>
      <input ng-model="user.title" type="text">
    </md-input-container>

    <md-input-container class="md-block">
      <label>Mot de passe</label>
      <input ng-model="user.password" type="password">
    </md-input-container>

    <section layout="row" layout-align="center center">
      <md-button class="groupX left md-raised md-primary">Se connecter</md-button>
      <md-button class="groupX right md-raised md-warn">S'inscrire</md-button>
    </section>
  </md-content>

</div>
