<div ng-controller="HomeCtrl" class="sample" ng-cloak>
    <div layout="column" layout-align="center center">
        <h1 class="md-display-4"><img src="images/HiveLogo4.png" /></h1>
        <h3 class="md-display-2">Des hébergements selon vos besoins !</h3>
    </div>
    <div layout="column" layout-align="center center">
        <h1 class="md-display-4"><img src="images/HiveLogo4.png" /></h1>
        <h3 class="md-display-2">Présentation</h3>
    </div>
    <div layout="column" layout-align="center center">
        <h3 class="md-display-2">Nos offres</h3>
    </div>
    <div layout="row" layout-align="center center" class="hive_application">
        <div flex="20" flex-offset="15">
            <md-card>
                <md-card-content>
                    <md-list class="md-dense">
                        <md-list-item class="md-2-line">
                          <md-icon>label</md-icon>
                          <div class="md-list-item-text">
                              <h3>NOM</h3>
                              <p>Site Principal</p>
                          </div>
                        </md-list-item>
                        <md-divider></md-divider>
                        <md-list-item class="md-2-line">
                          <md-icon>power</md-icon>
                          <div class="md-list-item-text">
                              <h3>ETAT</h3>
                              <p>En marche</p>
                          </div>
                        </md-list-item>
                        <md-divider></md-divider>
                        <md-list-item class="md-2-line">
                          <md-icon>router</md-icon>
                          <div class="md-list-item-text">
                              <h3>IP</h3>
                              <p>173.1.31.23:4901</p>
                          </div>
                        </md-list-item>
                        <md-divider></md-divider>
                        <md-list-item class="md-2-line">
                            <md-icon>computer</md-icon>
                            <div class="md-list-item-text">
                                <h3>OS</h3>
                                <p>Ubuntu</p>
                            </div>
                        </md-list-item>
                        <md-divider></md-divider>
                        <md-list-item class="md-2-line">
                          <md-icon>memory</md-icon>
                          <div class="md-list-item-text">
                              <h3>CPU</h3>
                              <p>53 %</p>
                          </div>
                        </md-list-item>
                        <md-divider></md-divider>
                        <md-list-item class="md-2-line">
                          <md-icon>storage</md-icon>
                          <div class="md-list-item-text">
                              <h3>MEMOIRE</h3>
                              <p>70 %</p>
                          </div>
                        </md-list-item>
                        <md-divider></md-divider>
                        <md-list-item class="md-2-line">
                          <md-icon>timer</md-icon>
                          <div class="md-list-item-text">
                              <h3>FONCTIONNEMENT</h3>
                              <p>5j / 20h / 15m</p>
                          </div>
                        </md-list-item>
                    </md-list>
                </md-card-content>
            </md-card>
        </div>
        <div flex>
          <div layout="column" layout-align="center center">
            <h3>Hive Machine Gestion</h3>
            <p>Notre application vous permet d'avoir des informations sur vos VMs</p>
            <md-button class="md-primary md-raised">Télécharger l'APK</md-button>
          </div>
        </div>
    </div>
</div>
